body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

[data-theme="light"] {
  --bg-color: #ffff;
  --text-color: #333333;
  --heading-color: #444444;
  --link-color:black
}

/* Dark mode styles */
[data-theme="dark"] {
  --bg-color: #333333;
  --text-color: #ffff;
  --heading-color: #dddddd;
  --link-color:white
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  color: var(--heading-color);
}

